# 1) 默认忽略仓库根下一切
/*

# 2) 允许 Git 配置文件本身
!.git
!.gitattributes
!.gitignore

# 3) 允许的目录（整目录放行）
!/desktop/
!/desktop/**
!/HDR/
!/HDR/**
!/logo/
!/logo/**
!/otls/
!/otls/**
!/packages/
!/packages/**
!/presets/
!/presets/**
!/config/
!/config/**
!/mod/
!/mod/**
!/Visualizers/
!/Visualizers/**

# 4) 允许的单个文件（根目录）
!/display.pref
!/display_options.def
!/hotkeys.pref
!/houdini.env.company
!/*.keymap*.*
!/houdini.pref
!/LINKFX*.*
!/nodethemes.json
!/tool.pref
!/ui.pref
!/VEXpressions.txt
!/GitHub_恢复代码.txt

# 5) 明确忽略（根目录）
/jump.pref
