# 1. 忽略所有
*
jump.pref
# 2. 允许这些文件或目录
!.git
!.gitattributes
!.gitignore

!HDR/
!HDR/**

# !config/
# !config/**

!logo/
!logo/**

!otls/
!otls/**

!packages/
!packages/**

!presets/
!presets/**

!mod/
!mod/**

!display.pref
!display_options.def
!hotkeys.pref
!houdini.env.company
!*.keymap*.*
!houdini.pref
# !hud.pref
!LINKFX*.*
!nodethemes.json
!tool.pref
!ui.pref
!VEXpressions.txt
!Visualizers