# 0. 默认忽略仓库根下所有内容
/*

# 1. 保留 git 配置文件
!.gitignore
!.gitattributes

# 2. 允许的目录（白名单）
!HDR/**
!logo/**
!otls/**
!packages/**
!presets/**
!mod/**
!Visualizers/**

# 3. 允许的单个文件（白名单）
!display.pref
!display_options.def
!hotkeys.pref
!houdini.env.company
!*.keymap*.*
!houdini.pref
!LINKFX*.*
!nodethemes.json
!tool.pref
!ui.pref
!VEXpressions.txt

# 4. 明确要忽略的目录
desktop/**
config/**
